.homeButton {
    font-size: 18pt;
    font-weight: bold;
    width: 350px;
    height: 30px;
    padding: 5px;
    justify-content: space-around;
    display: flex;
    margin: 10px 0;
    color: white;
    background: rgb(158, 8, 33);
    background: linear-gradient(22deg, rgba(158, 8, 33, 0.8155637254901961) 0%, rgba(81, 158, 186, 1) 40%, rgba(23, 68, 129, 0.804359243697479) 76%, rgba(6, 47, 113, 1) 100%);
}

.homeButton:hover {
    color: black;
    background: rgb(158, 8, 33);
    background: linear-gradient(207deg, rgba(158, 8, 33, 0.8155637254901961) 0%, rgba(81, 158, 186, 1) 40%, rgba(23, 68, 129, 0.804359243697479) 76%, rgba(6, 47, 113, 1) 100%);
}


/* #listOfButtons {
     background: rgb(162, 24, 47);
    background: radial-gradient(circle, rgba(162, 24, 47, 0.7567401960784313) 0%, rgba(21, 110, 180, 0.8855917366946778) 24%, rgba(72, 161, 194, 1) 41%, rgba(23, 68, 129, 0.8575805322128851) 79%, rgba(6, 47, 113, 1) 100%); 


}
*/